# HUFFLEPUFF BUSINESS TRAVEL ANALYSIS

# BUSINESS PROBLEM #1
- We want our employees to only travel to green countries

## HYPOTHESIS 
- Some countries have lower air travel CO2 emissions per passenger
- In some countries the share of CO2 emmissions created from domestic flights surpasses the ones created from international flights
- Some countries have lower total CO2 emissions total

presentation : https://docs.google.com/presentation/d/1lc8e9HWLfw1xe1fyaopK_YB0DSqb1Yk6Z3jygZQtpRo/edit#slide=id.p

In [1910]:
#TODO remane owid codes to iso codes
#TODO export to sql from python

#TODO make a general population table
#TODO make a general world table for maps
#TODO make a general code normalization function
#TODO make a general sql export function

In [1911]:
#imports
import pandas as pd
import geopandas as gpd
import pycountry
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import numpy as np
from dotenv import load_dotenv
import os
import seaborn as sns

In [1912]:
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect
from sqlalchemy import create_engine, text
from sqlalchemy.sql import text
#import pymysql

In [1913]:
#!pip install pycountry

## SQL INITIALIZATION

In [1914]:
# SQL credentials in .env
load_dotenv()
password = os.getenv('PASSWORD')

In [1915]:
# Create the Database
database_name = 'business_trips_db'

# Set Up Database Connection
engine = create_engine(f'mysql+pymysql://root:{password}@localhost')

# Create Database if it Doesn't Exist
with engine.connect() as conn:
    conn.execute(text(f'CREATE DATABASE IF NOT EXISTS {database_name}'))

In [1916]:
# Connect to the Newly Created Database
engine = create_engine(
    f'mysql+pymysql://root:{password}@localhost/{database_name}')

In [1917]:
def export_sql(df, columns_list, table_name):
    df = df[columns_list]
    df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

## POPULATION

### POPULATION CLEANING

In [1918]:
#import population data
populations_df = pd.read_csv('sources/population.csv')

def import_csv(filename):
    return pd.read_csv('sources/' + filename)

In [1919]:
schema = {
    "population": {
        "filename": "population.csv",
        "columns": {
            "country": {"originalName": "Entity", "type": "object"},
            "population": {"originalName": "Population - Sex: all - Age: all - Variant: estimates", "type": "int"},
            "code": {"originalName": "Code", "type": "object"},
            "year": {"originalName": "Year", "type": "int"},
            },
    },
    
    "deforestation": {
        "filename": "imported-deforestation.csv",
        "columns": {
            "country": {"originalName": "Entity", "type": "object"},
            "imported_deforestation": {"originalName": "imported_deforestation", "type": "float"},
            "code": {"originalName": "ISO_A3", "type": "object"},
            "year": {"originalName": "Year", "type": "int"},
            },
    },
}

In [1920]:
#functions
def rename_columns(df, new_names_dict):
    df = df.rename(columns=new_names)
    return df

def clean_owid_data(schema)-> pd.DataFrame:
    df = import_csv(filename)
    df = rename_columns(df)

In [ ]:
# rename columns
col_names = {'Entity': 'country', 'Code': 'code', 'Year': 'year','Population - Sex: all - Age: all - Variant: estimates': 'population'}
populations_df = populations_df.rename(columns=col_names)
populations_df.head()

In [1922]:
#population by country latest year
populations_df_latest = populations_df.loc[populations_df.groupby('country')['year'].idxmax()]
populations_df_latest.head()

def get_latest_year_data(df, group_column, year_column = 'year'):
    df_latest = df.loc[df.groupby('country')['year'].idxmax()]
    return df_latest

In [ ]:
#imported deforestation by country latest year
populations_df_latest = populations_df.loc[populations_df.groupby('country')['year'].idxmax()]
populations_df_latest.head()

In [1924]:
#drop nan values
populations_df_latest = populations_df_latest.dropna()
populations_df_latest.head()

def drop_nan_values(df):
    df = df.dropna()
    return df

In [1925]:
#export clean population csv
populations_df_latest.to_csv('sources/clean/population-clean.csv', index=False)

def export_csv(df, file_name):
    df.to_csv(file_name, index=False)

### POP SQL EXPORT

In [1926]:
export_sql(populations_df_latest, ['country', 'population', 'code', 'year'], 'population')

## DEFORESTATION

### DEFORESTATION CLEANING

In [ ]:
#import deforestation data
forest_df = pd.read_csv('sources/imported-deforestation.csv')
forest_df = forest_df.rename(columns=col_names)
forest_df.head()

In [ ]:
#imported deforestation by country latest year
forest_df_latest = forest_df.loc[forest_df.groupby('country')['year'].idxmax()]
forest_df_latest.head()

In [1929]:
#export clean deforestation csv
forest_df_latest.to_csv('sources/clean/imported-deforestation-clean.csv', index=False)

### DEFORESTATION ANALYSIS

In [ ]:
deforestation_final = forest_df_latest.merge(populations_df_latest, on='code')
deforestation_final['imported_deforestation_per_capita'] = deforestation_final['imported_deforestation'] / deforestation_final['population']

min_deforestation = deforestation_final['imported_deforestation_per_capita'].min()
max_deforestation = deforestation_final['imported_deforestation_per_capita'].max()

deforestation_final['score'] = 1 + 9 * (deforestation_final['imported_deforestation_per_capita'] - min_deforestation) / (max_deforestation - min_deforestation)
deforestation_final['score'] = deforestation_final['score'].round().astype(int)

deforestation_final.sort_values('score', ascending=False).head(25)

### DEFORESTATION SQL EXPORT

In [1931]:
export_sql(deforestation_final, ['code', 'score'], 'deforestation')

### DEFORESTATION MAPPING

In [1932]:
# Load world shape data from geopandas
world = gpd.read_file('maps/110m_cultural/ne_110m_admin_0_countries.shp')

In [1933]:
# Merge with the world GeoDataFrame
merged = world.merge(deforestation_final, how='left', left_on='ISO_A3', right_on='code')

In [ ]:
# Plot the map with filled shapes
fig, ax = plt.subplots(1, 1, figsize=(20, 10))

# Plot the countries with data
merged.plot(column='score', cmap='OrRd', legend=False, ax=ax, missing_kwds={'color': 'lightgrey'})

ax.axis('off')

plt.title('World Map')
plt.show()

## AIR POLLUTION

### AIR POLLUTION CLEANING

In [1935]:
# Load the dataset
file_path = 'Sources/AQI and Lat Long of Countries.csv'
df = pd.read_csv(file_path)

In [1936]:
# Convert AQI Value to numeric, coerce errors to handle any non-numeric values
df['AQI Value'] = pd.to_numeric(df['AQI Value'], errors='coerce')

# Group by country and calculate the mean AQI value per country
country_aqi = df.groupby('Country')['AQI Value'].mean().reset_index()

# Min-Max normalization to scale AQI values between 1 and 10
min_aqi = country_aqi['AQI Value'].min()
max_aqi = country_aqi['AQI Value'].max()

country_aqi['Pollution Score'] = 1 + 9 * (country_aqi['AQI Value'] - min_aqi) / (max_aqi - min_aqi)

# Round and convert the Pollution Score to integers
country_aqi['Rounded Pollution Score'] = country_aqi['Pollution Score'].round().astype(int)

In [1937]:
#Clean column names
country_aqi.columns = country_aqi.columns.str.lower().str.replace(' ', '_')

In [ ]:
# Function to get the 3-letter country code
def get_country_code(country_name):
    try:
        return pycountry.countries.lookup(country_name).alpha_3
    except LookupError:
        return None

# Add a new column with the 3-letter country code
country_aqi['code'] = country_aqi['country'].apply(get_country_code)
display(country_aqi.head())

### AIR POLLUTION MAP

In [ ]:
# Merge with the world GeoDataFrame
merged = world.merge(country_aqi, how='left', left_on='ISO_A3', right_on='code')

# Plot the map of air pollution scores
fig, ax = plt.subplots(1, 1, figsize=(20, 10))

# Plot the countries with data
merged.plot(column='pollution_score', cmap='OrRd', legend='polution_score_rounded', ax=ax, missing_kwds={'color': 'lightgrey'})

ax.axis('off')

plt.title('Air pollution score')
plt.show()

### AIR POLLUTION LOAD IN SQL

In [ ]:
export_sql(country_aqi, ['code', 'rounded_pollution_score', 'pollution_score' ], 'pollution')


""" # Load environment variables from .env file
load_dotenv()
password = os.getenv("PASSWORD")  # Retrieve the password from the .env file
bd = "business_trips"  # Name of the database
connection_string = f'mysql+pymysql://root:{password}@localhost/{bd}'  # Connection string
engine = create_engine(connection_string)  # Create the SQLAlchemy engine

# Read the CSV file into a DataFrame
df = pd.read_csv("sources/AQI_and_Country_Codes_clean.csv")

# Use the to_sql method with if_exists condition
df.to_sql("air_pollution", con=engine, if_exists='replace', index=False)

# Close the connection if you created it explicitly (not needed with SQLAlchemy)
# connection.close()  # Uncomment this if you used a raw connection  """

## AIR TRAVEL

In [ ]:
df = pd.read_csv(r"sources/SECONDARY - 8- air-passengers-carried.csv")
df

In [1942]:
df = df.rename(columns={'Air transport, passengers carried': 'passengers_carried', 'Entity': 'country'})

In [1943]:
df.columns = df.columns.str.lower()

In [ ]:
df.isna().sum()

In [ ]:
df_2019 = df[df['year'] == 2019]
df_2019

In [ ]:
df_2019.isna().sum()

In [ ]:
df_2019.dropna(subset=['code'], inplace=True)

In [ ]:
df_2019.isna().sum()

In [ ]:
df_2019.head(5)

In [ ]:
#Filter the DataFrame for the specific year (e.g., 2019)
df_2019 = df_2019[df_2019['year'] == 2019]

#Sort the DataFrame by the 'Air transport, passengers carried' column in descending order
df_2019.sort_values(by='passengers_carried', ascending=False, inplace=True)
df_2019

In [ ]:
df_2019['country'].unique()

In [ ]:
entities_to_remove = ['World']
df_2019 = df_2019[~df_2019['country'].isin(entities_to_remove)]
df_2019

In [ ]:
df_2019_top_10 = df_2019.sort_values(by='passengers_carried', ascending=False).head(10)

# Plotting
plt.figure(figsize=(12, 6))
plt.bar(df_2019_top_10['country'], df_2019_top_10['passengers_carried'], color='blue')
plt.xlabel('Countries')
plt.ylabel('Passengers carried')
plt.title('Passengers carried by plane in 2019')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
df_co2 = pd.read_csv(r"/Users/jpl/Class/Quests/sql-database/sources/MAIN - 5- monthly-co2-emissions-from-international-and-domestic-flights.csv")
df_co2

In [1955]:
df_co2 = df_co2.rename(columns={'Monthly CO₂ emissions from domestic aviation': 'CO2_domestic_aviation'})

In [1956]:
df_co2 = df_co2.rename(columns={'Monthly CO₂ emissions from international aviation': 'CO2_international_aviation'})

In [1957]:
df_co2 = df_co2.rename(columns={'Entity': 'country'})

In [1958]:
df_co2.columns = df_co2.columns.str.lower()

In [ ]:
df_co2

In [1960]:
# Convert 'day' to datetime format
df_co2['day'] = pd.to_datetime(df_co2['day'])

# Create new columns for year and month_day
df_co2['year'] = df_co2['day'].dt.year
df_co2['month_day'] = df_co2['day'].dt.strftime('%m-%d')  # Format to get month and day

# Dropping the original 'day' column (optional)
df_co2 = df_co2.drop(columns=['day'])

In [ ]:
df_co2

In [1962]:
# Create a new column 'total_co2' by summing the two existing columns
df_co2['total_co2'] = df_co2['co2_domestic_aviation'] + df_co2['co2_international_aviation']

In [ ]:
df_co2

In [ ]:
#Filter the DataFrame for the specific year (2019)
df_co2 = df_co2[df_co2['year'] == 2019]
df_co2

In [ ]:
#Sort the DataFrame by the 'Air transport, passengers carried' column in descending order
df_co2 = df_co2.sort_values(by='total_co2', ascending=False)
df_co2

In [ ]:
df_co2['country'].unique()

In [ ]:
entities_to_remove = ['World', 'Asia', 'Europe', 'Africa', 'Oceania', 'North America', 'South America']
df_co2 = df_co2[~df_co2['country'].isin(entities_to_remove)]
df_co2

In [ ]:
# Grouping by entity and summing the required columns
df_co2 = df_co2.groupby('country').agg(
    co2_domestic_aviation=('co2_domestic_aviation', 'sum'),
    co2_international_aviation=('co2_international_aviation', 'sum'),
    total_co2=('total_co2', 'sum')
).reset_index()

# Sorting by total_co₂ in descending order
df_co2 = df_co2.sort_values(by='total_co2', ascending=False)
df_co2

In [ ]:
df_co2_top_10 = df_co2.sort_values(by='total_co2', ascending=False).head(10)

# Plotting
plt.figure(figsize=(12, 6))
plt.bar(df_co2_top_10['country'], df_co2_top_10['total_co2'], color='red')
plt.xlabel('Countries')
plt.ylabel('Total CO₂ emissions')
plt.title('Total CO₂ emissions by aviation (2019)')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
# Define the countries to display (based on countries emiting more CO2)
countries_to_display = ['united states', 'china', 'united kingdom', 'japan', 
                        'united Arab emirates', 'germany', 'india', 'france', 
                        'australia', 'spain']

# Make a copy of the DataFrames and convert country names to lowercase for consistency
df_2019_copy = df_2019.copy()
df_co2_copy = df_co2.copy()

df_2019_copy['country'] = df_2019_copy['country'].str.lower()
df_co2_copy['country'] = df_co2_copy['country'].str.lower()

# Filter both DataFrames to include only the specified countries
df_2019_filtered = df_2019_copy[df_2019_copy['country'].isin(countries_to_display)]
df_co2_filtered = df_co2_copy[df_co2_copy['country'].isin(countries_to_display)]

# Merge the two DataFrames on the 'country' column to ensure proper alignment
merged_df = pd.merge(df_2019_filtered, df_co2_filtered, on='country')

# Set the width of the bars and the position of the bars on the x-axis
bar_width = 0.35
index = np.arange(len(merged_df))

# Plotting
fig, ax = plt.subplots(figsize=(10, 6))

# Plot total_co2 bars
bars1 = ax.bar(index, merged_df['total_co2'], bar_width, label='Total CO₂', color='r', alpha=0.7)

# Plot passengers_carried bars next to total_co2
bars2 = ax.bar(index + bar_width, merged_df['passengers_carried'], bar_width, label='Passengers carried', color='b', alpha=0.7)

# Labels and title
ax.set_xlabel('Countries')
ax.set_ylabel('Values')
ax.set_title('Total CO₂ emissions and passengers carried by country')
ax.set_xticks(index + bar_width / 2)
ax.set_xticklabels(merged_df['country'], rotation=45)

# Add legend
ax.legend()

# Display the plot
plt.tight_layout()
plt.show()

In [ ]:
# Merge the DataFrames on 'country'
merged_df = pd.merge(df_2019, df_co2, on='country', how='inner')
merged_df

In [ ]:
merged_df.isna().sum()

In [ ]:
# Create a new column 'co2_by_passenger'
merged_df['co2_by_passenger'] = merged_df['total_co2'] / merged_df['passengers_carried']
merged_df

In [ ]:
merged_df = merged_df.sort_values(by='co2_by_passenger', ascending=False)
merged_df

In [ ]:
merged_df['score'] = (merged_df['co2_by_passenger'] / merged_df['co2_by_passenger'].max()) * 10
merged_df

In [ ]:
# Find the maximum value in the 'co2_by_passenger' column
max_co2_by_passenger = merged_df['co2_by_passenger'].max()

# Create a new 'score' column by scaling 'co2_by_passenger' proportionally
merged_df['score'] = (merged_df['co2_by_passenger'] / max_co2_by_passenger) * 10

# Display the updated dataframe
merged_df

In [ ]:
merged_df.head(10)

In [ ]:
#Showing the top 10 countries with the worst score of CO2 emissions by passengers
merged_df_top_10 = merged_df.sort_values(by='co2_by_passenger', ascending=False).head(10)

# Plotting
plt.figure(figsize=(12, 6))

# Create a color gradient
colors = plt.cm.Blues(np.linspace(1, 0, len(merged_df_top_10)))

# Plot the bar chart
plt.bar(merged_df_top_10['country'], merged_df_top_10['co2_by_passenger'], color=colors)

# Add labels and title
plt.xlabel('Countries')
plt.ylabel('CO₂ emissions by passenger')
plt.title('CO₂ emissions per passenger by aviation (2019)')
plt.xticks(rotation=45)

# Adjust layout
plt.tight_layout()

# Display the plot
plt.show()

In [ ]:
# Sort by the score in descending order and select the top 10
merged_df_top_10 = merged_df.sort_values(by='score', ascending=False).head(10)

# Plotting
plt.figure(figsize=(12, 6))

# Create a color gradient
colors = plt.cm.Blues(np.linspace(1, 0, len(merged_df_top_10)))

# Plot the bar chart
plt.bar(merged_df_top_10['country'], merged_df_top_10['score'], color=colors)

# Add labels and title
plt.xlabel('Countries')
plt.ylabel('CO₂ emissions by passenger')
plt.title('CO₂ emissions per passenger by aviation (2019)')
plt.xticks(rotation=45)

# Adjust layout
plt.tight_layout()

# Display the plot
plt.show()

### TRAVEL SQL

In [1980]:
export_sql(merged_df, ['code', 'score'], 'travel')

## PLASTIC POLLUTION

### PLASTIC POLLUTION CLEANING

In [1981]:
df=pd.read_csv('sources/plastic-pollution.csv')

In [1982]:
df.drop(columns=['Year'],inplace=True)

In [1983]:
# Normalize the 'Per capita plastic waste (kg/person/day)' to a scale of 1 to 10
min_waste = df['Per capita plastic waste (kg/person/day)'].min()
max_waste = df['Per capita plastic waste (kg/person/day)'].max()

In [1984]:
# Create the score column (values scaled from 1 to 10)
df['Plastic_Pollution_Score'] = ((df['Per capita plastic waste (kg/person/day)'] - min_waste) / (max_waste - min_waste)) * 9 + 1

In [1985]:
# Round the scores for cleaner output
df['Plastic_Pollution_Score'] = df['Plastic_Pollution_Score'].round().astype(int)

In [ ]:
# Function to get the 3-letter country code
def get_country_code(country_name):
    try:
        return pycountry.countries.lookup(country_name).alpha_3
    except LookupError:
        return None

# Add a new column with the 3-letter country code
df['Country_code'] = df['Entity'].apply(get_country_code)
display(df.head())

In [ ]:

# DataFrame by 'Plastic_Pollution_Score' in descending order
top_ten_score = df[['Entity', 'Plastic_Pollution_Score']].sort_values(by='Plastic_Pollution_Score', ascending=False).head(10)

# Plotting
plt.figure(figsize=(10,6))  # Set the figure size
sns.set_style("whitegrid")


sns.barplot(
    x='Plastic_Pollution_Score', y='Entity', data=top_ten_score,
    palette='Blues_d'
)


plt.title('Top 10 Entities by Plastic Pollution Score', fontsize=16)
plt.xlabel('Plastic Pollution Score', fontsize=12)
plt.ylabel('Entity', fontsize=12)

# Display the plot
plt.tight_layout()
plt.show()

In [ ]:
# DataFrame by 'Plastic_Pollution_Score' in descending order by Country Code
top_ten_score = df[['Country_code', 'Plastic_Pollution_Score']].sort_values(by='Plastic_Pollution_Score', ascending=False).head(10)

# Plotting
plt.figure(figsize=(10,6))  # Set the figure size
sns.set_style("whitegrid")


sns.barplot(
    x='Plastic_Pollution_Score', y='Country_code', data=top_ten_score,
    palette='Blues_d'
)


plt.title('Top 10 Country by Plastic Pollution Score', fontsize=16)
plt.xlabel('Plastic Pollution Score', fontsize=12)
plt.ylabel('Country_code', fontsize=12)

# Display the plot
plt.tight_layout()
plt.show()

In [1989]:
df.to_csv('plastic_waste.csv', index=False)

### PLASTIC SQL

In [1990]:
export_sql(df, ['Country_code', 'Plastic_Pollution_Score'], 'plastic')

## ENERGY

In [ ]:
# imports energy file
energy = pd.read_csv("sources/owid-energy-data.csv")

## starts cleaning data

# filter geographics
pattern = r'(?i)^(Asia|Africa|South Am|South and C|Europe|Oceania|America|CIS|Central & South|United States Pac|United States Territor|World|U.S.|Upper-middle|United States Virgin|Middle Africa|Wake|Middle East|Eastern Africa|Western Africa|G7|Lower-middle|Low-income|Latin America|G20|Non-OPEC|Non-OECD|North Ame|High-inc|OPEC|OECD|Central America|Persian G|Central and South America|Australia and New Zealand|ASEAN|EU|Antarctica|Pacific|Caribbean|Ember).*'

# Create a mask for non-country entries
mask = ~energy['country'].str.contains(pattern, case=False, regex=True)

# Filter the DataFrame to keep only country entries
energy= energy[mask].reset_index(drop=True)

In [1992]:
## filters by year, removes most almost-blank rows

en2=energy.copy()
en2 = en2[en2["year"]>2000]

In [1993]:
# filters by NaN, removes cells with higher than X NaNs
en3=en2.copy()
fen3 = en3.isna().sum(axis=0) > 2000
fen = fen3[fen3]

msk = list(fen.index)
for ms in msk:
    en3.drop(ms, axis = 1, inplace=True)

In [1994]:
# transposes table, filters by Y NaN rows
en4=en3.T.copy()

fen2 = en4.isna().sum(axis=0) > 2000
f2 = fen2[fen2]

msk2 = list(f2.index)
for ck in msk2:
    en4.drop(ck, axis = 1, inplace=True)

In [ ]:
## scoring system: min(1,10-min((round(%green energy/10 + %biofuel/20 + pop(x10^9)/100,0)), 10))
en5 = en4.T.copy() 

# Remove columns with 'non_parameter' columns
en5.drop(columns=[col for col in en5.columns if '_electricity' in col],inplace=True)
en5.drop(columns=[col for col in en5.columns if 'prod' in col],inplace=True)
en5.drop(columns=[col for col in en5.columns if 'primary' in col],inplace=True)

#display(en5.columns)
en5["greenscore1"]=en5[['hydro_share_elec', 'nuclear_share_elec', 'solar_share_elec', 'wind_share_elec']].sum(axis=1)
en5["greenscore2"]=en5['renewables_share_elec']
en5["greenscore"] = en5[['greenscore1', 'greenscore2']].max(axis=1)
en5["blackscore"]= (int(100) - en5["greenscore"].fillna(0))
en5["score"] = ((en5["greenscore"].fillna(0) / 10) + (en5["biofuel_share_elec"].fillna(0) / 20) + (en5["population"].fillna(0) / 1000000000))
en5["score"] = 10 - en5["score"].round(0).clip(upper=10)


#en5_2 = en5.groupby("country")["score"].mean()

#en5_2

In [ ]:
## Loads SQL

load_dotenv()
password = os.getenv("PASSWORD")
bd = database_name
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

In [ ]:
## data prep'ed for SQL

en6=en5.copy()
filename = "energy_clean1"
en6.fillna(0, inplace=True)
en6.to_csv(f"sources/{filename}.csv")
en5.to_sql(f"{filename}", con = engine, if_exists='replace')

In [ ]:


## groupby country

statement="SELECT country,iso_code, round(avg(score),0) AS en_score FROM energy_clean1 GROUP BY country, iso_code ORDER BY en_score ASC;"

with engine.connect() as con:
    try:
        # Execute the query to fetch results
        en_score = pd.read_sql(statement, con)

    except Exception as e:
        print(f"An error occurred: {e}")

en_score

In [ ]:
statement2 = (
            "SELECT " 
                "country, "
                "iso_code, " 
                "ROUND(AVG(score),0) AS en_score, "
                "ROUND(AVG(greenscore),0) AS gr_score, "
                "AVG(biofuel_share_elec) AS avg_biofuel, "
                "AVG(coal_share_elec) AS avg_coal, "
                "AVG(hydro_share_elec) AS avg_hydro, " 
                "AVG(gas_share_elec) AS avg_gas, "
                "AVG(nuclear_share_elec) AS avg_nuclear, "
                "AVG(oil_share_elec) AS avg_oil, "
                "AVG(solar_share_elec) AS avg_solar, "
                "AVG(wind_share_elec) AS avg_wind "
            "FROM " 
                "energy_clean1 "
            "GROUP BY " 
                "country, "
                "iso_code " 
            "ORDER BY "
                "en_score ASC "
            "LIMIT 5"
            ";"
            )

statement3 = (
            "SELECT " 
                "country, "
                "iso_code, " 
                "ROUND(AVG(score),0) AS en_score, "
                "ROUND(AVG(greenscore),0) AS gr_score, "
                "AVG(biofuel_share_elec) AS avg_biofuel, "
                "AVG(coal_share_elec) AS avg_coal, "
                "AVG(hydro_share_elec) AS avg_hydro, " 
                "AVG(gas_share_elec) AS avg_gas, "
                "AVG(nuclear_share_elec) AS avg_nuclear, "
                "AVG(oil_share_elec) AS avg_oil, "
                "AVG(solar_share_elec) AS avg_solar, "
                "AVG(wind_share_elec) AS avg_wind "
            "FROM " 
                "energy_clean1 "
            "GROUP BY " 
                "country, "
                "iso_code "
            "ORDER BY "
                "en_score DESC "
            "LIMIT 5"
            ";"
            )

with engine.connect() as con:
    try:
        # Execute the query to fetch results
        graph1 = pd.read_sql(statement2, con)

    except Exception as e:
        print(f"An error occurred: {e}")
        
    try:
        # Execute the query to fetch results
        graph2 = pd.read_sql(statement3, con)

    except Exception as e:
        print(f"An error occurred: {e}")

graphics = pd.concat([graph1, graph2], ignore_index=True)
graphics

In [ ]:
# Melt the DataFrame for easier plotting
df_melted = graphics.melt(id_vars='country', 
                    value_vars=['avg_biofuel', 'avg_coal', 'avg_hydro', 'avg_gas', 
                                'avg_nuclear', 'avg_oil', 'avg_solar', 'avg_wind'],
                    var_name='Energy Source', 
                    value_name='Average Value')


# Create a bar plot
sns.barplot(data=df_melted, x='country', y='Average Value', hue='Energy Source')

# Adding titles and labels
plt.title('Average Energy Shares by Country')
plt.xlabel('Country')
plt.ylabel('Average Value (%)')
plt.xticks(rotation=45)
plt.legend(title='Energy Source')

# Show the plot
plt.tight_layout()
plt.show()

In [ ]:
statement4 = (
            "SELECT " 
                "ROUND(AVG(score),0) AS en_score, "
                "AVG(biofuel_share_elec) AS avg_biofuel, "
                "AVG(coal_share_elec) AS avg_coal, "
                "AVG(hydro_share_elec) AS avg_hydro, " 
                "AVG(gas_share_elec) AS avg_gas, "
                "AVG(nuclear_share_elec) AS avg_nuclear, "
                "AVG(oil_share_elec) AS avg_oil, "
                "AVG(solar_share_elec) AS avg_solar, "
                "AVG(wind_share_elec) AS avg_wind "
            "FROM " 
                "energy_clean1 "
            )

with engine.connect() as con:
    try:
        # Execute the query to fetch results
        graph4 = pd.read_sql(statement4, con)

    except Exception as e:
        print(f"An error occurred: {e}")
        
graph4

In [ ]:
# Create a new DataFrame for renewable and non-renewable
renewable = {
    'Source': ['Hydro', 'Solar', 'Wind', '"Biofuel"'],
    'Average Value': [graph4['avg_hydro'][0], graph4['avg_solar'][0], 
                      graph4['avg_wind'][0], graph4['avg_biofuel'][0]]
}

non_renewable = {
    'Source': ['Coal', 'Gas', 'Oil', 'Nuclear'],
    'Average Value': [graph4['avg_coal'][0], graph4['avg_gas'][0], 
                      graph4['avg_oil'][0], graph4['avg_nuclear'][0]]
}

# Combine into a single DataFrame
renewable_df = pd.DataFrame(renewable)
non_renewable_df = pd.DataFrame(non_renewable)

# Add a column to indicate renewable or non-renewable
renewable_df['Type'] = 'Renewable'
non_renewable_df['Type'] = 'Non-Renewable'

# Concatenate the two DataFrames
final_df = pd.concat([renewable_df, non_renewable_df], ignore_index=True)

# Create the bar plot
sns.barplot(data=final_df, x='Source', y='Average Value', hue='Type')

# Adding titles and labels
plt.title('Average Energy Shares: Renewable vs Non-Renewable')
plt.xlabel('Energy Source')
plt.ylabel('Average Value (%)')
plt.xticks(rotation=45)

# Show the plot
plt.tight_layout()
plt.legend(title='Energy Type')
plt.show()

In [ ]:
# Calculate total averages for renewable and non-renewable
total_renewable = (
    graph4['avg_biofuel'][0] +
    graph4['avg_hydro'][0] +
    graph4['avg_solar'][0] +
    graph4['avg_wind'][0]
)

total_non_renewable = (
    graph4['avg_coal'][0] +
    graph4['avg_gas'][0] +
    graph4['avg_oil'][0] +
    graph4['avg_nuclear'][0]
)

# Create a DataFrame for the pie chart
pie_data = pd.DataFrame({
    'Type': ['Renewable', 'Non-Renewable'],
    'Average Value': [total_renewable, total_non_renewable]
})

# Set the figure size
plt.figure(figsize=(8, 8))

# Create the pie chart
plt.pie(pie_data['Average Value'], labels=pie_data['Type'], autopct='%1.1f%%', startangle=140)

# Adding a title
plt.title('Renewable vs Non-Renewable Energy Averages')

# Show the plot
plt.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
plt.show()

In [ ]:
# Function to get the 3-letter country code
def get_country_code(country_name):
    try:
        return pycountry.countries.lookup(country_name).alpha_3
    except LookupError:
        return None

# Add a new column with the 3-letter country code
en_score['code'] = en_score['country'].apply(get_country_code)
en_score

In [2005]:
# for manual fixing of codes
en_score.to_csv("checkout.csv")

In [ ]:

en_score2 = pd.read_csv("checkout2.csv")

# Load world shape data from geopandas
world = gpd.read_file('maps/110m_cultural/ne_110m_admin_0_countries.shp')

# Merge with the world GeoDataFrame
m1 = world.merge(en_score2, how='left', left_on='SOV_A3', right_on='code')

# Define a custom colormap without white
colors = ['#1dbf1d', '#e30f0b'] 
custom_cmap = mcolors.LinearSegmentedColormap.from_list("custom_reds", colors)

# Plot the map with filled shapes
fig, ax = plt.subplots(1, 1, figsize=(20, 10))

# Plot the countries with data using the custom colormap
m1.plot(column='en_score', cmap=custom_cmap, legend=False, ax=ax, missing_kwds={'color': 'darkgrey'})

# Create a colorbar
sm = plt.cm.ScalarMappable(cmap=custom_cmap, norm=plt.Normalize(vmin=m1['en_score'].min(), vmax=m1['en_score'].max()))
sm.set_array([])  # Needed for older versions of matplotlib
plt.colorbar(sm, ax=ax, label='Energy Score')

# Set title and remove axis
ax.axis('off')
plt.title('World Map by Green Energy')
plt.show()

### ENERGY SQL

In [2007]:
export_sql(en_score, ['code', 'en_score'], 'energy')

## FINAL ANALYSIS

### AIR POLLUTION MAX AND MIN

In [ ]:
#Find the dirtiest and cleanest country when it comes to air pollution
""" SELECT  pollution_score, country FROM air_pollution
ORDER BY pollution_score DESC
LIMIT 5;

SELECT  pollution_score, country FROM air_pollution
ORDER BY pollution_score ASC
LIMIT 5; """