In [131]:
import pandas as pd
from sqlalchemy import create_engine, text
import os

In [132]:
password = os.getenv('PASSWORD')

In [133]:
database_name = 'database_test'

# Set Up Database Connection
engine = create_engine(f'mysql+pymysql://root:{password}@localhost')

# Create Database if it Doesn't Exist
with engine.connect() as conn:
    conn.execute(text(f'CREATE DATABASE IF NOT EXISTS {database_name}'))

# Connect to the Newly Created Database
engine = create_engine(
    f'mysql+pymysql://root:{password}@localhost/{database_name}')

# List of CSV Files to Import
tables_to_create = {'forest': 'sources/imported-deforestation.csv', 'pop': 'sources/population.csv'}

# Read CSVs into DataFrames, Clean, and Store in a Dictionary

for table_name, file in tables_to_create.items():
    df = pd.read_csv(file)
    tables_to_create[table_name] = df

In [134]:
#Write DataFrames to MySQL Database**
for table_name, df in tables_to_create.items():
    df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

#Read SQL script from a local file
with open('test.sql', 'r') as file:
    sql_script = file.read()

In [135]:
# Execute the SQL script
with engine.connect() as conn:
    for sql_command in sql_script.split(';'):
        sql_command = sql_command.strip()
        if sql_command:
            print('command : ' + sql_command)
            conn.execute(text(sql_command))

command : DROP TABLE IF EXISTS population
command : DROP TABLE IF EXISTS deforestation
command : CREATE TABLE population (
    `country` VARCHAR(45) NOT NULL,
    `code` VARCHAR(8) NOT NULL,
    `year` VARCHAR(4) NOT NULL,
    `population` BIGINT UNSIGNED NOT NULL,
    PRIMARY KEY (`code`)
)
command : CREATE TABLE deforestation (
    `country` VARCHAR(45) NOT NULL,
    `code` VARCHAR(8) NOT NULL,
    `year` VARCHAR(4) NOT NULL,
    `imported_deforestation` DECIMAL(10, 2) NOT NULL,
    PRIMARY KEY (`code`)
)

In [136]:
#Fetch Transformed Data Back into pandas

df_fetch = pd.read_sql('SELECT * FROM pop', con=engine)

display(df_fetch.head())

,Entity,Code,Year,Population - Sex: all - Age: all - Variant: estimates
0,Afghanistan,AFG,1950,7776182
1,Afghanistan,AFG,1951,7879343
2,Afghanistan,AFG,1952,7987783
3,Afghanistan,AFG,1953,8096703
4,Afghanistan,AFG,1954,8207953