In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text

In [ ]:

# **1. Set Up Database Connection**

# Replace 'your_password' with your actual MySQL root password
engine = create_engine('mysql+pymysql://root:your_password@localhost')

# **2. Create Database if it Doesn't Exist**

with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS my_database"))

# **3. Connect to the Newly Created Database**

engine = create_engine('mysql+pymysql://root:your_password@localhost/my_database')

# **4. List of CSV Files to Import**

csv_files = ['file1.csv', 'file2.csv', 'file3.csv']  # Replace with your actual file names

# **5. Read CSVs into DataFrames, Clean, and Store in a Dictionary**

dataframes = {}
for file in csv_files:
    df = pd.read_csv(file)
    # **Minor Cleaning**
    df.dropna(inplace=True)  # Drop rows with missing values
    # Convert columns to appropriate data types if needed
    if 'id' in df.columns:
        df['id'] = df['id'].astype(int)
    # Store in dictionary with the table name as the key
    table_name = file.replace('.csv', '')
    dataframes[table_name] = df

# **6. Write DataFrames to MySQL Database**

for table_name, df in dataframes.items():
    df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

# **7. Run SQL Script to Transform Data**

# Example SQL script: Create a new table by joining two tables
sql_script = """
CREATE TABLE combined_table AS
SELECT a.*, b.other_column
FROM file1 a
JOIN file2 b ON a.id = b.id;
"""

with engine.connect() as conn:
    conn.execute(text(sql_script))

# **8. Fetch Transformed Data Back into pandas**

df_combined = pd.read_sql('SELECT * FROM combined_table', con=engine)

# **9. Final Analysis in pandas**

print(df_combined.head())